*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #1e1514;
    background-color: #716f78;
}

header {
    background-color: #3a3336;
    color:#716f78;
    padding: 24px 16px;
    border-bottom: 8px solid #1e1514;
}

header h1{
    margin: 0 0 12px 0;
    font-size: 1.8rem;
    color: #9097a7;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li{
    display: inline-block;
    margin-right: 16px;
}

nav a{
    color: #716f78;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 900;
}

nav a:hover{
    text-decoration: underline;
}


main{
    max-width: 800px;
    margin: 0 auto;
    padding: 24px 16px;
}

section{
    margin-bottom: 32px;
}

h2{
    color:#3a3336;
    border-bottom: 2px solid #1e1514;
    padding-bottom: 6px;
    margin-bottom: 16px;
    font-weight: 900;
}


#add-book label{
    display: block;
    margin-bottom: 6px;
    font-weight: 650;
    color: #3a3336;
}

#add-book form > div{
    margin-bottom: 16px;
}

#add-book input[type="text"],
#add-book select{
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #1e1514;
    border-radius: 6px;
    font-size: 0.8rem;
    background-color: #9097a7;
}
#add-book input[type="text"]:focus,
#add-book select:focus{
    outline: none;
    border-color: #9097a7;
}

#add-book button{
    background-color: #9097a7;
    color:#3a3336;
    padding: 10px 20px;
    margin-top: 12px;
    border: 1px solid #1e1514;
    border-radius: 6px;
    font-size: 0.8rem;
    font-weight: 700;
}
#add-book button:hover{
    background-color: #3a3336;
    color: #1e1514;
}

article{
    background-color: #716f78;
    border: 1px solid #1e1514;
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
}

article h3{
    margin-top: 0;
    margin-bottom: 8px;
    color: #3a3336;
}

article p{
    margin: 4px 0;
    color: #3a3336;
}

.cover-placeholder{
    width: 120px;
    height: 160px;
    background-color: #9097a7;
    border: 2px dashed #1e1514;
    border-radius: 4px;
    margin-bottom: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #3a3336;
    font-size: 0.85rem;
}

aside{
    color:#716f78;
    background-color: #3a3336;
    border: none;
    border-left: 8px solid #1e1514;
    padding: 16px 20px;
    margin-bottom: 32px;
}
aside h2{
    color: #716f78;
    font-weight: 700;
    margin-top: 0;
    border-bottom: none;
    padding-bottom: 0;
    font-size: 1.8rem;
}
aside p{
    margin: 6px 0;
}

footer{
    background-color: #716f78;
    color: #1e1514;
    text-align: center;
    padding: 16px;
    font-size:0.8rem;
    margin-top: 40px;
}